# Puerto en el que InfluxDB expone su API HTTP
# Fuente: https://docs.influxdata.com/influxdb/v2.8/reference/config-options/#http-bind-address
INFLUXDB_PORT=8086

# Usuario y contraseña del administrador de InfluxDB (mínimo 8 caracteres la contraseña)
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=reemplazar_con_una_password_segura

# La organización es el contenedor lógico de más alto nivel en InfluxDB 2
# Es simplemente un nombre que agrupa todo lo que se crea dentro de InfluxDB
# (los buckets, los usuarios y los tokens.)
INFLUXDB_ORG=universidad

# El bucket es donde se almacenan las series temporales
INFLUXDB_BUCKET=metricas_hosts

# El token de admin: InfluxDB 2 usa tokens en lugar de usuario/contraseña para la API
# Se puede generar conn: openssl rand -hex 32 (esto genera un token de 64 caracteres hexadecimales)
INFLUXDB_TOKEN=reemplazar_con_un_token_seguro

# Política de retención: cuánto tiempo se guardan los datos antes de eliminarse
INFLUXDB_RETENTION=30d

# Nombre que identificará a este host en InfluxDB y en los dashboards de Grafana
HOSTNAME=reemplazar_con_un_nombre_identificativo_del_host